body{
    font-family: 'Arial', sans-serif; 

}
.header{
    color: white;
    background-color: #662066;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.nav{
    display: flex;
    justify-content: center;

}
.nav p{
    padding: 20px;
}
#para{
    color: #8b858b;
    font-size: 20px;
}
.container{
   background-color: #f8f8f8;
    margin: 20px;
    border-radius: 5px;
    height: 500px;
}
.block{
    height: 200px;
    padding: 40px;
}

.footer{
    color: white;
    background-color: #662066;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    
}